@font-face {
  font-family: 'tex';
  src: url(/static/fonts/lmroman8-regular.otf);
}

.LaTeX {
  font-family: 'tex';
  font-size: 13pt;
}

.LaTeX a {
  border: 1px solid cyan;
}

.LaTeX blockquote {
  margin-top: 20px;
}

.LaTeX .section {
  margin-top: 50px;
}

.LaTeX .subsection {
  font-size: 16pt;
}


.LaTeX-toc ol {
  counter-reset: item;
}

.LaTeX-toc li {
  display: block;
}

.LaTeX-toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}


.LaTeX .table-container {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}


@media print {
  .LaTeX .collapse {
    display: block !important;
    height: auto !important;
  }

  .LaTeX a {
    border: 0px;
  }

}
