
table {
  /* border-collapse: collapse; */
  table-layout: fixed;
}

.transformation-dialogue {
  width: 100%;
}

.color-cell {
  width: 1%;
}

.guppy-container {
  display: block;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* this needs to be better */
}

.weight-container {
  width: 15%;
  padding: 0px !important;
  height: 100%;
  overflow: hidden;
  background-color: pink;
}

.weight-container > input {
  /* display: inline-block !important;
  position: relative  !important;
  top: 0;

  height: 100% !important; */

  /* padding-top: calc(20% - 0.6em);
  padding-bottom: calc(20% - 0.6em); */

  height: 44px;
  position: flexbox;
  font-family: serif;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 0px;
}

.trash-container {
  width: 40px;
}

.trash-container > a {
  color: grey;
}

.trash-container > a:hover {
  color: red;
  transition: 0.5s ease;
}
